#about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("./ABOUT.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 70px 0;
    overflow: hidden;
}

.about-box{
    background-color: white;
    max-width: 75%;
    margin-left: 175px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.about-box > h6{
    color: #6d1333;
    font-family: "Chivo", serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-box > p{
    padding: 50px;
    line-height: 55px;
    font-size: 1.875rem/* 30px */;
}

hr{
    padding-bottom: 50px;
}

ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    font-size: 1.5rem/* 24px */;
}
li{
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .about-box{
        max-width: 90%;
        margin-left: 25px;
    }

    .about-box > p{
        padding: 0;
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 50px;
    }

    .about-box a{
        letter-spacing: 0;
        font-size: 0.5rem;
    }

    ul{
        font-size: 1rem/* 24px */;
    }
}

@media screen and (max-width: 400px) {
    .about-box{
        max-width: 90%;
        margin-left: 25px;
    }

    .about-box > p{
        padding: 0;
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 50px;
    }

    .about-box a{
        letter-spacing: 0;
        font-size: 0.5rem;
    }

    ul{
        font-size: 1rem/* 24px */;
    }
}
